
footer {
  background: #333;
  color: #eee;
  padding: 20px;
  font-size: 12px;
}

.unstyled {
  list-style: none;
  padding: 0;
}


img {
    margin: 0 0 20px 0;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 12px;
  font-weight: bold;

}

.navigation {
  border:none;
  background:white;
  border-bottom: 1px solid #eee;
  font-weight:bold;
}

.list-group li:hover {
  cursor: pointer;
  background-color: #eee;
}
