<div>
<div class="jumbotron">
  <h1><span style="color:#00BCD4;">Tinkle</span>, <small> the power to do more.</small></h1>
  <p>Tinkle is one stop destination to perform all of your great agile tantrums and manage projects with
  a cool breeze! Tinkle is tinkling with many stars, to know more keep on reading and exploring the site.</p>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3>About Tinkle</h3>
    <img src="images/chalkboard.jpg" alt="Chalkboard" width="100%" height="200px" class="thumbnail" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="col-sm-6">
    <h3>Learn More</h3>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/q7o7R5BgWDY" frameborder="0" allowfullscreen></iframe>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
</div>
